@charset "UTF-8";
/* Site général */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "DM Sans", sans-serif;
}

header {
  color: #D04F4F;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header h1 {
  font-size: 36px;
}
header img#site_icon {
  height: 46.29px;
  width: 50.48px;
}

/* Section de recherche */
.search {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.search form {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.search input {
  border: none;
  padding: 0.5rem;
  font-size: 1rem;
  width: 100%;
  background-color: #E7E7E7;
  height: 69px;
  border-radius: 5px;
  position: relative;
}

.search i {
  background-color: transparent;
  border: none;
  font-size: 32px;
  color: #333;
  margin-left: 0.5rem;
  position: absolute;
  display: flex;
  padding: 0px 20px 0px 0px;
}

.menu_boxes {
  display: flex;
  margin: 30px 0px 20px 0px;
}

.menu_button {
  width: 170px;
  height: 69px;
  margin: 0px 20px 0px 0px;
  border-radius: 5px;
  border: 0px;
  color: white;
  font-size: 18px;
}

#ingredients_button {
  background-color: #3282F7;
}

#appliance_button {
  background-color: #68D9A4;
}

#ustensils_button {
  background-color: #ED6454;
}

.menu_chevron {
  margin: 0px 0px 0px 35px;
}

.recipes {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  padding: 0px 16px 0px 16px;
}

.recipe-card {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 380px;
  height: 364px;
  border-radius: 5px;
}

.recipe-card__image-placeholder {
  height: 178px;
  background-color: #C7BEBE;
  border-radius: 5px 5px 0px 0px;
}

.recipe-card__details {
  background-color: #E7E7E7;
  height: 186px;
  border-radius: 0px 0px 5px 5px;
}

.recipe-card__title-time {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px 10px 10px 10px;
}

.recipe-card__title {
  font-size: 18px;
  max-width: 300px;
  font-weight: 400;
}

.recipe-card__time {
  font-size: 18px;
  font-weight: 700;
  width: 100px;
}

.recipe-card__time i {
  padding: 0px 10px 0px 0px;
}

.recipe-card__ingredients-description {
  display: flex;
  justify-content: space-around;
}

.recipe-card__ingredients {
  list-style-type: none;
  width: 171px;
  height: 105px;
}

.recipe-card__ingredients li {
  font-size: 12px;
}

.recipe-card__description {
  font-size: 12px;
  width: 171px;
  height: 86px;
}

.dropdown {
  display: none;
  width: 667px;
  height: 397px;
  border-radius: 5px;
  z-index: 1;
  margin-right: 20px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-radius: 0px 0px 5px 5px;
  padding: 0px 0px 0px 10px;
}

#ingredients_tags, input.ingredients_search {
  background-color: #3282F7;
}

#appliance_tags, input.appliances_search {
  background-color: #68D9A4;
}

#ustensils_tags, input.ustensils_search {
  background-color: #ED6454;
}

.tag {
  color: white;
  font-size: 18px;
  font-weight: 400;
  flex-basis: calc(33.333% - 20px);
  margin-bottom: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

input.ingredients_search::-moz-placeholder, input.appliances_search::-moz-placeholder, input.ustensils_search::-moz-placeholder {
  color: white;
  border-radius: 5px 5px 0px 0px;
}

input.ingredients_search,
input.appliances_search,
input.ustensils_search,
input.ingredients_search::placeholder,
input.appliances_search::placeholder,
input.ustensils_search::placeholder {
  color: white;
  border-radius: 5px 5px 0px 0px;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.search-container i {
  color: white;
  font-size: 16px;
}

.selected-tags-container {
  display: flex;
  flex-direction: row;
}

.selected-tag__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  margin-right: 20px;
}

.selected-tag .selected-tag--ingredients {
  display: flex;
}

.selected-tag__title {
  font-size: 14px;
  color: #ffffff;
  padding: 0px 0px 0px 5px;
}

.selected-tag .selected-tag__close-icon {
  cursor: pointer;
  color: #ffffff;
  font-size: 20px;
  position: relative;
}

.selected-tag--ingredients .selected-tag__content {
  background-color: #3282F7;
  height: 37px;
  border-radius: 5px;
}

.selected-tag--appliances .selected-tag__content {
  background-color: #68D9A4;
  height: 37px;
  border-radius: 5px;
}

.selected-tag--ustensils .selected-tag__content {
  background-color: #ED6454;
  height: 37px;
  border-radius: 5px;
}/*# sourceMappingURL=style.css.map */